<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SubwayRanks.SU</title>
</head>

<body>

  <div id="app-main">
    <navbar :inverted="false"></navbar>
    <sign-in-modal v-if="!$auth.isAuthenticated()"></sign-in-modal>
    <sign-up-modal v-if="!$auth.isAuthenticated()"></sign-up-modal>
    <router-view>loading...</router-view>
    <notifications animation-type="velocity" width="400"/>
  </div>

</body>

</html>
